._editor-header .wrap {
  text-align: center;
}
@media (min-width: 768px) {
  ._editor-header .wrap {
    width: 752px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .h1 {
    font-size: 2.875rem;
  }
  .h3 {
    font-size: 1.875rem;
  }
  .mb-md-8,
  .my-md-8 {
    margin-bottom: 2rem !important;
  }
  .mb-md-5,
  .my-md-5 {
    margin-bottom: 1rem !important;
  }
  .mt-md-4,
  .my-md-4 {
    margin-top: 0.675rem !important;
  }
  .mt-3,
  .my-3 {
    margin-top: 0.5rem !important;
  }
}
.mb-8,
.my-8 {
  margin-bottom: 2rem !important;
}

._editor-header .img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
}
._editor-header .img-wrapper img {
  border-radius: 50%;
}
.d-inline-block {
  display: inline-block !important;
}

.rounded-circle {
  border-radius: 50% !important;
}
